@import '../../../styles/variables';

.doctor-extra-info-container {
    .content-up {
        .content-up-title {
            text-transform: uppercase;
            color: $text-dark;
            padding: 12px 0 8px;
        }
        .hospital {
            font-weight: 550;
            padding: 4px 0;
            font-size: 16px;
        }
    }
    .content-down {
        .content-down-basic {
            .title-price {
                text-transform: uppercase;
                color: $text-dark;
                margin-right: 4px;
                display: inline-block;
                padding: 8px 0;
            }
            .price {
                color: #fff;
                background-color: $primary-color;
                padding: 8px 4px;
                border-radius: 4px;
            }
        }
        .content-down-additional {
            .additional-content {
                
            }
            .content-note {
                display: flex;
                justify-content: space-between;
                border: 1px solid #ddd;
                background-color: #f8f8f8;
                padding: 4px;
                .content-left {
                    span {
                        display: inline-block;
                    }
                    .note {
                        font-size: 13px;
                        margin-bottom: 0;
                    }
                }
                .content-right {
                    width: auto;
                    font-weight: 600;
                }
            }
            .content-payment {
                color: $text-dark;
                background-color: #eee;
                padding: 8px 4px;
                display: flex;
                justify-content: space-between;
               .payment-left {

               }
               .payment-right {
                   font-weight: 600;
                   padding-right: 8px;
               }
            }
        }
        .view-detail {
            display: inline-block;
            padding: 12px 0;
            color: $primary-color;
            cursor: pointer;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}
