@import "../../../styles/variables";

.doctor-schedule-container {
    height: 100%;
    .all-schedule {
        select {
            padding: 8px 0;
            outline: none;
            border: none;
            border-bottom: 2px solid $primary-color;

            color: $primary-color;
            font-size: 16px;
            font-weight: 550;
            cursor: pointer;
            
        }
    }
    .all-available-time {
        .calendar {
            padding: 16px 0;
            font-size: 16px;
            span {
                .icon-calendar {
                    margin-right: 4px;
                }
                text-transform: uppercase;
            }
        }
        .time-content {
            .head-content {
                display: flex;
                flex-wrap: wrap;
                gap: 12px;
                z-index: 1000;
                button {
                    padding: 12px 16px;
                    background-color: #fff8ae;
                    border: none;
                    border-radius: 8px;

                    &.btn-vi {
                        min-width: 120px;
                    }
                    &.btn-en {
                        min-width: 168px;
                    }
                    &:hover {
                        cursor: pointer !important;
                        color: #fff;

                        background-color: $primary-color;
                    }
                }
                .no-schedule {
                    font-size: 16px;
                    font-style: italic;
                }
            }
            .bottom-content {
                margin-top: 12px;
                padding: 4px 0;
                .hand-pointer-icon {
                    padding: 0 4px;
                }
            }
        }
    }
}
