.section-outstanding-doctor {
    background-color: #fff;
    .item {
        text-align: center;
        padding: 8px;
        &:hover .bg-image {
            transform: scale(1.1) !important;
            opacity: 0.7;
        }
        .item-border {
            border: 1px solid #eee;
            .contain-zoom-bg-image {
                border: 1px solid green;

                .outer-bg {
                    border: 1px solid blue;
                    height: 100%;
                    padding-top: 10px;
                    .bg-image {
                        border: 1px solid red;

                        width: 120px;
                        height: 120px;
                        border-radius: 50%;
                        margin: 0 auto;
                    }
                    // .image1 {
                    //     background-image: url("../../../assets/images/outstanding-doctor/doctor1.jpg");
                    // }
                }
            }
            .item-tittle {
                // margin-top: 20px;
            }
        }
    }
}
