.section-specialty {
    .image1 {
        background-image: url("../../../assets/images/specialty/image1.jpg");
    }
    .image2 {
        background-image: url("../../../assets/images/specialty/image2.jpg");
    }
    .image3 {
        background-image: url("../../../assets/images/specialty/image3.jpg");
    }
    .image4 {
        background-image: url("../../../assets/images/specialty/image4.jpg");
    }
    .image5 {
        background-image: url("../../../assets/images/specialty/image5.jpg");
    }
    .image6 {
        background-image: url("../../../assets/images/specialty/image6.jpg");
    }
}
