@import "../../styles/variables";

.home-header-container {
    // height: 80px;
    padding: 8px 0;
    background-color: #fff;
    // position: fixed;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.05);
    .home-header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 80%;
        height: 50px;
        margin: 0 auto;
        .header__left {
            display: flex;
            align-items: center;
            .header__option-icon {
                display: none;
                color: $text-grey;
                font-size: 20px;
                padding: 12px;
                transition: 0.2s ease-in-out;
                transform: rotate(0);
                &:hover {
                    color: $primary-color;
                    cursor: pointer;
                }
            }
            .header__brand {
                display: inline-block;
                color: $primary-color;
                display: flex;
                align-items: center;
                // width: 150px;
                // background-image: url("../../assets/images/logo.svg");
                // background-repeat: no-repeat;
                // background-size: contain;
                // background-position: left center;
                cursor: pointer;
                .header__brand-logo {
                    font-size: 36px;
                }
                .header__brand-name {
                    font-size: 24px;
                    font-weight: 600;
                }
            }
        }
        .header__center {
            .header__menu {
                display: flex;
                align-items: center;
                list-style: none;
                padding-left: 0;
                margin-bottom: 0;
                .header__menu-link {
                    text-decoration: none;
                    font-size: 14px;
                    color: $text-dark;
                    &:hover {
                        color: $primary-color;
                    }
                    .menu-item {
                        padding: 12px;
                    }
                }
            }
        }
        .header__right {
            display: flex;
            align-items: center;
            .header-support {
                margin-right: 12px;
                text-decoration: none;
                // width: 200px;
                font-size: 14px;
                color: $text-grey;
                cursor: pointer;
                .question-icon {
                    color: $primary-color;
                    padding: 0 4px;
                }
                &:hover {
                    color: $primary-color;
                }
            }
            .header-language {
                color: $text-dark;
                @media screen and (max-width: 500px) {
                    display: none;
                }
            }
        }
        @media screen and (max-width: $laptop) {
            width: 100%;
            max-width: 100%;
            padding: 0 40px;
        }
        @media screen and (max-width: 840px) {
            width: 100%;
            max-width: 100%;
            padding: 0 8px;
        }
    }

    /* keyframes */

    @keyframes slideFromLeft {
        from {
            width: 0;
            left: -200;
        }
        to {
            width: 200px;
            left: 0;
        }
    }

    /* responsive */

    @media screen and (max-width: $tablet) {
        .home-header-content {
            .header__left {
                .header__option-icon {
                    display: block;
                }
            }

            .header__center {
                display: none;
            }

            &.responsive {
                .header__left {
                    .header__option-icon {
                        position: relative;
                        transition: 0.2s ease-in-out;
                        transform: rotate(-90deg);
                    }
                }
                .header__center {
                    display: block;

                    .header__menu {
                        flex-direction: column;
                        align-items: flex-start;
                        position: absolute;
                        top: 50px;
                        left: 0;
                        width: 200px;
                        height: 100vh;
                        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
                        background-color: #f5f5f5;
                        animation: slideFromLeft 0.1s forwards;
                        .header__menu-link {
                            width: 100%;
                        }
                        .header__menu-link:hover {
                            color: #fff;
                            background-color: $primary-color;
                        }
                    }
                }
            }
        }
    }
}
